
  /* leftover, delete later */
pre{
  white-space: pre-wrap;
  word-wrap: break-word; 
}

figure{
  margin-right: 0px;
  margin-left: 0px;
}


/* fake notes styling */
/* tried to do a fancy single class and type cast by scope or whatever but it. went bad. it went real bad. */
.fake-notes-block{
  line-height: 1.5;
  padding: 0;
  border:0 !important;
  margin:0.643em;
}
.fake-notes-header{
  font-size: 1.286em;
  line-height: 1;
  margin: 0.5375em 0;
  font-family: Georgia, serif;
  border-bottom: 1px solid;
}
.fake-notes-container{
  /* margin: 0 0.643em 4em 0.643em; */
  margin:-5em 3.643em 4em 3.643em;
  
  /* padding: 0.643em 0.643em 0; */
}
/* hijack the top author's note class and hide it, but DON'T hide the end notes */
.notes{
  display:none;
}
.end{
  display:block !important;
}


/* this capitalizes every word in the span, so it doesnt work for "the farmer" */
.upper{
  text-transform: capitalize;
}
/* this doesnt work, idk why. not gonna troubleshoot, im tired. */
/* .upper::first-letter{
  text-transform: uppercase;
} */

/* gender swaps */
figure:has(details.male[open]) .personal::after{
  content: "he";
}
figure:has(details.male[open]) .possessive::after{
  content: "his";
}
figure:has(details.male[open]) .object::after{
  content: "him";
}

figure:has(details.male[open]) .farmer::after{ 
  content: "the farmer";
}
/* not a fan of this but needs must */
figure:has(details.male[open]) .farmer-upper::after{ 
  content: "The farmer";
}
figure:has(details.male[open]) .boy::after{
  content: "boy";
}

figure:has(details.male[open]) .hide {
  display: none;
}

/* take one  */
/* .gay{
  display: none;
} */
/* this is set by default on ao3 (inherited from ao3's css) */
.hidden{
  display:none;
}
figure:has(details.male[open]) .hidden {
  display:inline;
}


/* style the details/summary */
summary::-webkit-details-marker {display: none;}

summary {
  list-style: none;
  cursor: pointer;
  transition-duration: 1.4s;
  width:90px;
  height:50px;
}


/* toggle switch  */
.male, .female{
  width:90px;
  height:50px;

  background: url("https://raw.githubusercontent.com/jihnari/misc/main/stardew/seb-pronouns-fic/img/female.png") no-repeat;
  background-size:90px 50px;  
}

figure:has(details.male[open]) .female {
  display: none;
}
figure:has(details.male[open]) .male {
  background: url("https://raw.githubusercontent.com/jihnari/misc/main/stardew/seb-pronouns-fic/img/male.png") no-repeat;
  background-size:90px 50px;
  display: block;
}